*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --clr-primary-s-red: hsl(7, 99%, 70%);
    --clr-primary-yellow: hsl(51, 100%, 49%);
    --clr-primary-dd-cyan: hsl(167, 40%, 24%);
    --clr-primary-d-blue: hsl(198, 62%, 26%);
    --clr-primary-dm-cyan: hsl(168, 34%, 41%);

    --clr-neutral-vdd-blue: hsl(212, 27%, 19%);
    --clr-neutral-vdg-blue: hsl(213, 9%, 39%);
    --clr-neutral-dg-blue: hsl(232, 10%, 55%);
    --clr-neutral-g-blue: hsl(210, 4%, 67%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fs-body: 18px;
    --fs-h1: clamp(1rem, 5vw, 5rem);
    

    --ff-primary: 'Barlow', sans-serif;
    --ff-accent: 'Fraunces', serif;

    --fw-600: 600; /*use with Barlow*/
    --fw-700: 700; /*use with Fraunces*/
    --fw-900: 900; /*use with Fraunces*/
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
}

/* general-use classes */

.full-width-img {
    width: 100%;

} 

.uppercase {
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.grid-image {
    width: 100vw;
    min-height: 100%;
    object-fit: cover;
    object-position: center;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* header */


/* #header {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 5rem auto;
    justify-content: center;
} */

#header-bg-container {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#top-banner {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 8% auto auto 8%;
    grid-template-rows: auto;
    align-items: center;
    
    margin-top: 0.5rem;
}

#logo-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: left;

    /* width: 50vw; */
}

#menu-icon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;

    /* width: auto; */
}

#navbar-desktop {
    display: none;
}

#navbar-mobile {
    display: none;
    position: absolute;
}

#title {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    letter-spacing: 0.45rem;
    line-height: 3.1rem;
    margin-top: 3vw;
}

#h1-heading {
    font-family: var(--ff-accent);
    font-weight: var(--fw-900);
    font-size: var(--fs-h1);
    color: var(--clr-neutral-white);

    margin-bottom: 15%;
}

#down-arrow {
    width: 10vw;
    margin: 0;
    padding: 0;
}

/* main */


/* footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
