*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --clr-primary-s-red: hsl(7, 99%, 70%);
    --clr-primary-yellow: hsl(51, 100%, 49%);
    --clr-primary-dd-cyan: hsl(167, 40%, 24%);
    --clr-primary-d-blue: hsl(198, 62%, 26%);
    --clr-primary-dm-cyan: hsl(168, 34%, 41%);

    --clr-neutral-vdd-blue: hsl(212, 27%, 19%);
    --clr-neutral-vdg-blue: hsl(213, 9%, 39%);
    --clr-neutral-dg-blue: hsl(232, 10%, 55%);
    --clr-neutral-g-blue: hsl(210, 4%, 67%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fs-body: 18px;
    --fs-h1: clamp(1rem, 5vw, 5rem);
    

    --ff-primary: 'Barlow', sans-serif;
    --ff-accent: 'Fraunces', serif;

    --fw-600: 600; /*use with Barlow*/
    --fw-700: 700; /*use with Fraunces*/
    --fw-900: 900; /*use with Fraunces*/
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
}

/* general-use classes */

.full-width-img {
    width: 100%;

} 

.uppercase {
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.grid-image {
    width: 100vw;
    min-height: 100%;
    object-fit: cover;
    object-position: center;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.nav-links-mobile {
    font-family: var(--ff-primary);
    font-weight: var(--fw-600);
}

header a {
    text-decoration: none;
}

.nav-links-mobile a {
    color: var(--clr-neutral-dg-blue);
}

.main-heading {
    font-family: var(--ff-accent);
    color: var(--clr-vdd-blue);
}

.main-text {
    font-family: var(--ff-primary);
    color: var(--clr-neutral-dg-blue)
}

.main-link {
    font-family: var(--ff-accent);
    font-size: 0.9rem;
    color: var(--clr-vdd-blue);
    text-decoration: none; 
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#navbar-mobile {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);

    width: clamp(8rem, 90%, 17rem);
    height: clamp(15rem, 60%, 18rem);
    background: var(--clr-neutral-white);

    clip-path: polygon(0 10%, 90% 10%, 100% 0, 100% 100%, 0 100%);
}

#contact-mobile {
    font-family: var(--ff-accent);
    font-weight: var(--fw-600);
    font-size: 0.8rem;
}

#contact-mobile a {
    color: var(--clr-vdd-blue);
    background: var(--clr-primary-yellow);
    margin: auto;
    padding: 1.2em 2em;
    border-radius: 3rem;
}

#title {
    letter-spacing: 0.45rem;
    line-height: 3.1rem;
    margin-top: 3vw;
}

#h1-heading {
    font-family: var(--ff-accent);
    font-weight: var(--fw-900);
    font-size: var(--fs-h1);
    color: var(--clr-neutral-white);
}

#down-arrow {
    width: 10vw;
    margin: 0;
    padding: 0;
}

.learn-more {
    position: relative;
    z-index: 1;
}

#learn-more-yellow {
    display: relative;
    margin: auto;
    
}

#learn-more-yellow::after {
    content: '';
    margin: auto;
    background: var(--clr-primary-yellow);
    width: 4rem;
    height: 1rem;
    z-index: -1;
}
